*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: #0d1113;
  color: #fff;
}

img {
  max-width: 100%;
}

.btn {
  cursor: pointer;
  border: 0;
  background: #004cc7;
  border-radius: 100vw;
  color: #fff;
  padding: .5em 1.5em;
  font-weight: bold;
}

.rank {
  position: absolute;
  top: 0;
  right: 1em;
  font-weight: bold;
  font-size: 1.125rem;
  background: rgba(0, 0, 0, 0.75);
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 50% 75%, 0 100%, 0 1%);
          clip-path: polygon(100% 0%, 100% 100%, 50% 75%, 0 100%, 0 1%);
  padding: .5em .5em .75em;
  z-index: 1000;
  -webkit-transition: -webkit-transform 200ms cubic-bezier(0.29, 0.85, 1, 1);
  transition: -webkit-transform 200ms cubic-bezier(0.29, 0.85, 1, 1);
  transition: transform 200ms cubic-bezier(0.29, 0.85, 1, 1);
  transition: transform 200ms cubic-bezier(0.29, 0.85, 1, 1), -webkit-transform 200ms cubic-bezier(0.29, 0.85, 1, 1);
}

.game {
  position: relative;
  width: 12.5em;
  cursor: pointer;
}

.front {
  -webkit-transition: 260ms;
  transition: 260ms;
}

.front .thumbnail {
  border-radius: 0.5em;
}

.front .name {
  margin: .75em 0;
}

.front .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.front .streamers img {
  border: 1px solid #0d1113;
}

.front .streamers img:nth-of-type(1) {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  z-index: 1;
}

.front .streamers img:nth-of-type(2) {
  -webkit-transform: translateX(25%);
          transform: translateX(25%);
}

.streamers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.streamers img {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.back {
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5em;
}

.back .streamers {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.back .streamer {
  font-size: .9rem;
}

.back .name {
  font-weight: bold;
}

.back .streaming-info {
  -webkit-columns: 2;
          columns: 2;
  -webkit-column-rule: 1px solid rgba(255, 255, 255, 0.25);
          column-rule: 1px solid rgba(255, 255, 255, 0.25);
}

.back .game-stat {
  font-size: 1.125rem;
  text-align: center;
}

.back .game-stat span {
  display: block;
  font-size: .85rem;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #282e36;
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale(0.2, 0.9);
          transform: scale(0.2, 0.9);
  border-radius: 0.5em;
  -webkit-transition: opacity 100ms linear, -webkit-transform 200ms cubic-bezier(0.29, 0.85, 1, 1);
  transition: opacity 100ms linear, -webkit-transform 200ms cubic-bezier(0.29, 0.85, 1, 1);
  transition: transform 200ms cubic-bezier(0.29, 0.85, 1, 1), opacity 100ms linear;
  transition: transform 200ms cubic-bezier(0.29, 0.85, 1, 1), opacity 100ms linear, -webkit-transform 200ms cubic-bezier(0.29, 0.85, 1, 1);
}

.game:hover .rank {
  -webkit-transform: translate(150%, -145%);
          transform: translate(150%, -145%);
}

.game:hover .front {
  -webkit-transform: translateY(-40%) scale(0.8);
          transform: translateY(-40%) scale(0.8);
}

.game:hover .front .name {
  -webkit-animation: gameName 250ms forwards;
          animation: gameName 250ms forwards;
}

.game:hover .front .stats {
  opacity: 0;
}

.game:hover .back {
  opacity: 1;
  -webkit-transition: opacity 150ms linear, -webkit-transform 250ms ease;
  transition: opacity 150ms linear, -webkit-transform 250ms ease;
  transition: transform 250ms ease, opacity 150ms linear;
  transition: transform 250ms ease, opacity 150ms linear, -webkit-transform 250ms ease;
}

.game:hover .background {
  opacity: 1;
  -webkit-transform: scale(1.4, 1.35);
          transform: scale(1.4, 1.35);
}

@-webkit-keyframes gameName {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    text-align: center;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 1;
  }
}

@keyframes gameName {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    text-align: center;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */