// colors
$clr-dark: rgb(13, 17, 19);
$clr-light: #fff;
$clr-accent: rgb(222, 52, 0);
$clr-accent-dark: rgb(163, 38, 0);
$clr-secondary: rgb(0, 76, 199);
$background1: rgb(40,46,54);

// font familys
$main: sans-serif;

//border radius
$br: 0.5em;
